<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        <main class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <form class="mb-4" @submit.prevent="onFormSubmit">
                        <div class="input-group">
                            <input type="text" class="from-control from-control-lg" placeholder="Che devi fare?" v-model="newTask.text">
                            <button class="btn btn-success">+ Metti</button>
                        </div>
                    </form>

                    <div class="card shadow">
                        <div class="list-group list-group-flush todo-list">

                            <div class="list-group-item d-flex align-items-center overflow-hidden">
                                <lebel class="form-check form-switch flex-fill py-3">
                                    
                                    <input class="form-check-input py-sm-2" type="checkbox">

                                    Vuoi fare la lista?

                                </lebel>

                            </div>

                            <div class="list-group-item d-flex align-items-center overflow-hidden"
                                v-for="(task, i) in tasksList">
                                <lebel class="form-check form-switch flex-fill py-3">
                                    
                                    <input class="form-check-input py-sm-2" type="checkbox" v-model="task.done">

                                    {{ task.text }}

                                </lebel>

                                <button class="btn btn-danger btn-remove-task" @click="deleteEl(i)">X</button>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </main>

    </div>
    
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/main.js"></script>
</body>
</html>